.card {
    background-color: var(--background-color-light);
    width: 100%;
    max-width: 424px;
    height: auto;

    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container {
        width: calc(100% - 20px);
        padding: 10px;

        overflow: hidden;
        text-overflow: ellipsis;
    }

    b {
        font-family: "Mona-Sans Wide", sans-serif;   
    }



    .info {
        margin-top: 5px;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .thumbnail {
        width: 100%;
        height: 200px;
        
        object-fit: cover;

        border-radius: 5px;
    }

    .name {
        font-size: 24px;
    }

    .playing, .visits, .favorites {
        font-size: 16px;
    }

    user-select: none;
}